

.container {
  display: flex;
  overflow: hidden;
  background-color:#fff;
  color:#000;

}

/* Add this to your stylesheet */
.searchInput {
  width: 100%;
  min-width: 373px;
  height: 40px;
  padding: 8px 16px 8px 40px;
  border-radius: 9px 8px 8px 9px;
  border: 1px solid #E4E4E4;
  gap: 10px;
  background: #FFFFFF;
  color: #000;
  font-family: 'Lettera Text LL', sans-serif;
}

.dashboard {
  flex-grow: 1;
  padding: 10px;
  margin-left:2%;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height:100vh
  }

  .selectInput,
  .selectInput2 {
    width: 100%;
    margin: 10px 0; 
  }

  .tabListItem {
    margin-bottom: 10px;
  }

  .addButton {
    margin-top: 10px;
  }

  .searchInput {
    width: 100%;
    min-width: 330px;
   
  }

  
 
}



.addButton {
  margin-left: auto;
  margin-right: 20px;
  width: 40px;
  height: 40px; 
  border-radius: 7px;

  background: #F495A1;
  color: #D13B3B;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -20px;
  border: none;
  font-family: 'Lettera Text LL', sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-image: url('/deleteall.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px center;
}

.addIcon {
  width: 20px; 
  height: 20px; 
  margin-right: 10px; 
}


.selectInput {
  background:#F5F5F5;
  width: 142px;
  height: 34px;
  padding: 8px 12px;
  border-radius: 7px;
  gap: 6px;
  margin:0px 16px 23px 16px;
  color:#777676;
}

.selectInput2 {
  background:#F5F5F5;
  color:#777676;
  width: 109px;
  height: 34px;
  padding: 8px 12px;
  border-radius: 7px;
  gap: 6px;
  position:relative;
}

.option {
  background: #f5f5f5;
  padding: 8px 12px;
  border-radius: 4px;
  color: #777676;
}

.option:hover {
  background: #ddd; 
}

.option:active {
  background: #ccc; 
}


.tableContainer {
  width: 100%;
  overflow-x: auto;
}

/* Table stlyes */

.table {
  font-family: 'Lettera Text LL', sans-serif;
  width: 100%;

  top: 253px;
  left: 306px;
  border-collapse: collapse;
  border: 1px solid #E4E4E4;
  
}

.tableHeader {
  background: #D0D0D0;
  height: 48px;
  font-size: 12px;
  text-align: left;
  padding-left: 22px;
  border-bottom: 1px solid #000;
 
}

.tableBody {
  font-size: 14px; 
}

.tableRow {
 height: 60px;
}

.tableDataCell {
  
  padding: 10px; 
  border-bottom: 1px solid #E4E4E4; 
}


@media (max-width: 768px) {
  .table {
  
    margin-left:-10px

  }

  .tableHeader {
    font-size: 10px;
    
  }

  .tableRow {
    font-size: 10px;
  }
  .tableDataCell {

    padding: 0px; 
    border-bottom: 1px solid #E4E4E4; 
  }
  
  
  
 

  
}


.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}




.container.dark-mode {
  background-color: #292929;
  color: #ffffff;
}


.darkModeButton {
  display:flex;
  background: none;
  border: none;
  cursor: pointer;
  width: 24px; 
  height: 24px; 
  margin-left: 10px; 
}