

.container {
  display: flex;
  background-color:#fff;
  color:#000;

}


.searchInput {
  width: 100%;
  min-width: 400px;
  height: 40px;
  padding: 8px 16px 8px 40px;
  border-radius: 9px 8px 8px 9px;
  border: 1px solid #E4E4E4;
  background: #FFFFFF;
  color: #000;
  font-family: 'Lettera Text LL', sans-serif;
}

.dashboard {
  flex-grow: 1;
  padding: 10px;
  margin-left:2%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: 100vh;
  }

  .addButton {
    margin-top: -20px; 
  }

  .searchInput {
    width: 85%;
    min-width: 35px;
   
  }
  .table {
    margin-left: -10px;
  }

  .tableHeader {
    font-size: 10px;
  }

  .tableRow {
    font-size: 10px;

  }

  .tableDataCell {
    
    border-bottom: 1px solid #E4E4E4;
  }
}


.saveButton{
  width: 40px;
  height: 40px; 
  border-radius: 7px;

  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  background-image: url('/save.png');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 8px center;
}


.editButton{
  width: 40px;
  height: 40px; 
  border-radius: 7px;

  margin-right: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  background-image: url('/createicon.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px center;
}


.deleteButton {
  width: 40px;
  height: 40px; 
  border-radius: 7px;

  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  background-image: url('/delete.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px center;
}



.pagination {
  display: flex;
  align-items: center;

}
.paginationInfo {
  display: flex;
  align-items: center;
  margin: 10px 0px 0px 10px; 
}


.first,
.previous,
.pagitationb,
.next,
.last {
  width: 30px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  margin: 0 5px; 
  display: inline-block; 
}

.pagitationb {
  color:#000;
  font-weight:bold;
}

.first {
  background-image: url('/first.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center center;
  color:transparent;
}

.previous {
  background-image: url('/previous.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center center;
  color:transparent;
}

.next {
  background-image: url('/next.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center center;
  color:transparent;
}

.last {
  background-image: url('/last.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center center;
  color:transparent;
}



.addButton {
  margin-left: auto;
  margin-right: 40px;
  width: 40px;
  height: 40px; 
  border-radius: 7px;

  background: #F495A1;
  color: #D13B3B;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -20px;
  border: none;
  font-family: 'Lettera Text LL', sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-image: url('/deleteall.png');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px center;
  margin-top:-20px;
}



.tableContainer {
  width: 100%;
  overflow-x: auto;
 
}

.table {
  
  font-family: 'Lettera Text LL', sans-serif;
  width: 100%;
  left: 306px;
  border-collapse: collapse;
  border: 1px solid #E4E4E4;
  padding-left:10px;
  
}

.tableHeader {
  background: #D0D0D0;
  height: 40px;
  font-size: 12px;
  text-align: left;
  padding-left: 22px;
  border-bottom: 1px solid #000;
 
}

.tableBody {
  font-size: 14px; 
  
}

.tableRow {
  height: 56px;
  border-bottom: 1px solid #E4E4E4;
  padding-left: 10px;
}

.tableDataCell {
  
  padding: 10px; 
  border-bottom: 1px solid #E4E4E4; 
}


@media (max-width: 768px) {
  .table {
  



  }

  .tableHeader {
    font-size: 10px;
    
  }

  .tableRow {
    font-size: 10px;
  }
  .tableDataCell {

    padding: 0px; 
    border-bottom: 1px solid #E4E4E4; 
  }
  
  .saveButton{
  width: 40px;
  height: 40px; 
  border-radius: 7px;

  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  background-image: url('/save.png');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 8px center;
}


.editButton{
  width: 20px;
    height: 20px;
    background-size: 18px;
    background-position: center center;
    border:none;
    background-color: transparent;
    margin-right: 0px;

}


.deleteButton {
  width: 20px; 
    height: 20px; 
    background-size: 18px;
    background-position: center center;
    border:none;
    background-color: transparent;
}
.saveButton{
  width: 20px; 
    height: 20px; 
    background-size: 18px;
    background-position: center center;
    border:none;
    background-color: transparent;
}
  
  
 

  
}


.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}




.container.dark-mode {
  background-color: #292929;
  color: #ffffff;
}


.darkModeButton {
  display:flex;
  background: none;
  border: none;
  cursor: pointer;
  width: 24px; 
  height: 24px; 
  margin-left: 10px; 
}


.editInput {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #000; 
  padding: 5px; 
  width: 70%;
  color:#000; 
}

.selectedRow {
  background-color: #DCDCDC;
}

.hideMobile {
  display: none;

  @media (min-width: 768px) {
    display: flex !important;
   
  }
}
